body{
    margin: 0px;
    padding: 0px;
}

.header{
    text-align: center;
    padding: 20px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: 500px;
    gap:10px;
}

.pics{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}


/* animation for the pics comin from left */
.from-left{
    animation: slideFromLeft 1.5s ease-out forwards;
}

@keyframes slideFromLeft{
    from{
        transform: translateX(-100px);
        opacity: 0;
        scale: 0.7;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }
}

/* animation for the pics comin from right */
.from-right{
    animation: slideFromRight 1.5s ease-out forwards;
}

@keyframes slideFromRight{
    from{
        transform: translateX(100px);
        opacity: 0;
        scale: 0.7;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }
}

img{
    border-radius: 15px;
    transition: transform 0.6s ease-in-out;
    object-fit: cover;
    width: 90%;
    height: 90%;
}
/* hover effect on puics div  */
img:hover{
   box-shadow:
    0 12px 30px rgba(0,0,0,0.18),
    0 4px 10px rgba(0,0,0,0.1);
 transform: scale(1.1);
    z-index: 10;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }
    .header{
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .header{
        font-size: 30px;
    }
}