body{
    margin: 0px;
    padding: 0px;
}

.header{
    text-align: center;
    padding: 20px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: 500px;
    gap:30px;
}

.pics{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}


/* animation for the pics comin from left */
.from-left{
    animation: slideFromLeft 1.5s ease-out forwards;
}

@keyframes slideFromLeft{
    from{
        transform: translateX(-100px);
        opacity: 0;
        scale: 0.7;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }
}

/* animation for the pics comin from right */
.from-right{
    animation: slideFromRight 1.5s ease-out forwards;
}

@keyframes slideFromRight{
    from{
        transform: translateX(100px);
        opacity: 0;
        scale: 0.7;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }
}

img{
    border-radius: 15px;
    transition: transform 0.6s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* hover effect on puics div  */
img:hover{
   box-shadow:
    0 12px 30px rgba(0,0,0,0.18),
    0 4px 10px rgba(0,0,0,0.1);
 transform: scale(1.01);
}

/* getiitng the speciifce iamges and making the css grid unique layout */
.pics:nth-child(1){
    grid-row: span 3;
   
}
.pics:nth-child(2){
    grid-column: span 2;
}
.pics:nth-child(3){
    grid-row: span 2;
}
.pics:nth-child(5){
    grid-row: span 2;
}
.pics:nth-child(6){
    grid-column: span 2;
}
.pics:nth-child(7){
    grid-row: span 2;
}
.pics:nth-child(8){
    grid-row: span 2;
}
.pics:nth-child(9){
    grid-row: span 2;
}

@media (max-width: 1839px) {
    
        .pics:nth-child(1) img{
            object-position: right;
    
    }
    .pics:nth-child(7){
    grid-row: span 1;
}
.pics:nth-child(8){
    grid-row: span 1;
}
.pics:nth-child(9){
    grid-row: span 1;
}
}

@media (max-width: 1600px) {
.pics:nth-child(1){
    grid-row: span 2;
   
}
.pics:nth-child(2){
    grid-column: span 1;
}
.pics:nth-child(3){
    grid-row: span 1;

}
}

@media (max-width: 1250px) {
    .pics:nth-child(5){
    grid-row: span 1;

}
 .pics:nth-child(9){
    grid-column: span 2;

}
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }
    .header{
        font-size: 40px;
    }
}

@media (max-width: 850px) {
    .pics:nth-child(1){
    grid-row: span 1;

}
 .pics:nth-child(6){
    grid-column: span 1;
}
.pics:nth-child(9){
    grid-column: span 1;
}
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .header{
        font-size: 30px;
    }
}