body{
    margin: 0px;
    padding: 0px;
}

.header{
    text-align: center;
    padding: 20px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: 500px;
    gap:10px;
}

.pics{
    width: 100%;
    height: 100%;
}

img{
    border-radius: 15px;
    
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }
    .header{
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .header{
        font-size: 30px;
    }
}