body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

.navbar{

    width: 100%;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 10px 0;

    background-color: #f8f8f8;
}

.navbar-Div{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-List{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.navbar-List-small-screen{
    display: none;
    margin: 0px;
    list-style: none;
}

.navbar-logos{
    width: 20px;
    height: 20px;
}

.first-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 760px;
    background-image: url("https://www.apple.com/v/home/cl/images/heroes/superbowl-2026/hero_superbowl_2026__frupggy98c6e_mediumtall_2x.jpg");
    background-size: cover;
    background-position: top;
}

.apple-music-logo img{
    margin-top: 100px;
    width: 200px;
}

.apple-music-buttons{
    
    margin-bottom: 100px;
}

.subhead{
    text-align: center;
    color: white;
        font-size: 28px;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 6px;
}

.music-buttons-div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.primary-buttons{
  background-color: #0071E3;
  
    transition: transform 0.6s ease-in-out;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.primary-buttons:hover{
    transform: scale(1.05);
    background-color: #0067cf;
}

.secondary-buttons{
    transition: transform 0.6s ease-in-out;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}   

.secondary-buttons:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.5);
}

.second-div{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 760px;
    background-image: url("../pics/iphone.jpg");
    background-size: cover;
    background-position: top;
}

.headline{
        font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    margin: 0px 
}

.iphone-buttons{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.third-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.company-description{
    width: 100%;
    display: flex;
    justify-content: center;
}

.description-list{
    color: #0000008F;
    display: flex;flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 50;
    width: 60%;
    line-height: 1.5;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* belwo navbar here  */
.below-navbar{
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.below-navbar-column{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.below-navbar-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #0000008F;
    font-size: 14px;
    font-weight: 50;
    line-height: 1.5;
}

.below-navbar-list a{
    text-decoration: none;
    color: #0000008F;
}

/* footer css her e  */
.footer-div{
    padding: 10px;
    border-top: 1px solid #D1D1D6;
        display: flex;
        gap: 20px;
        justify-content: center;
}

.footer-div ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
    color: #0000008F;
    font-size: 14px;
    font-weight: 50;
    line-height: 1.5;
}

.footer-div ul a{
    
    text-decoration: none;
    color: #0000008F;
}

@media only screen and (max-width: 1100px) {
    .description-list{
    width: 80%;
    }
    .first-div{
        height: 600px;
    }
    .second-div{
        height: 600px;
    }
}

@media only screen and (max-width: 891px) {
    .footer-div{
        flex-direction: column;
        align-items: center;
    }
    .navbar-List{
       gap: 10px;
    }
    .third-div{
        grid-template-columns: 1fr;
    }
    .description-list{
    width: 90%;
    }
}
@media only screen and (max-width: 661px) {
    .below-navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
.navbar-List{
    display: none;
}
    .navbar-List-small-screen{
        padding: 0px;
        width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-div ul{
    gap:5px
}

.footer-div ul a{
    font-size: 12px;
}
}